@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


#heading{
    justify-content: left;
    display: flex;
    margin-bottom: 30px;
  }

  .container {
    border-radius: 5px;
    background: #0aeda964;
    background-blend-mode: overlay;
    padding: 50px;
    margin: 110px 110px 50px 50px ;
    height: 1000px;
    font-family: 'poppins';

  }

  #Img{
    float: right;
  }

  #para{
    width: 500px;
    color: rgba(0, 0, 0, 0.966);
    float: left;
    font-size: 18px;
    text-align: justify;
  }

  #dv{
    align-items: center;
    justify-content: center;
  }

 