@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
  font-family: 'poppins';
  background-image: url(https://media.istockphoto.com/id/528219721/vector/dollar-sign-for-background.jpg?s=612x612&w=0&k=20&c=V4AhDrXC5oidLiGJ6c0u-KH3iFmLh0lhQTTCbQ5JdIw=);
}

.navbar {
    overflow: hidden;
    position: fixed;
    top:0;
    width: 100%;
    background-color: aquamarine;
  }

  .navbar a {
    float: left;
    display: block;
    color:rgb(255, 247, 0);
    text-align: center;
    padding: 15px 24px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.5s;
  }
  .navbar a:hover {
    color: #ffffff;
    letter-spacing: 4px;
    transition: 0.5s;
  }

  #logout {
    margin-left: 525px;
  }